/* Ini CSS */

main {
    padding: 12px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    /* border: 1px solid; */
    /* flex: 1; */
    /* text-align: -webkit-center; */

    /* for image icon */
    background-image: url("../assets/thg_logo.png");
    border-radius: 50%;
    background-size: cover;
}

nav>a{
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
}

.banner-container {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;

    /* for image icon */
    border-radius: 50%;
    background-size: cover;
}

.profile-1 {
    background-image: url('https://fastly.picsum.photos/id/961/200/300.jpg?hmac=rshb15adr3WtZi83bW54uoTd2m0FuSCNwtfD74RJY0k');
}

.profile-2 {
    background-image: url('https://fastly.picsum.photos/id/961/200/300.jpg?hmac=rshb15adr3WtZi83bW54uoTd2m0FuSCNwtfD74RJY0k');
}

.profile-3 {
    background-image: url('https://fastly.picsum.photos/id/961/200/300.jpg?hmac=rshb15adr3WtZi83bW54uoTd2m0FuSCNwtfD74RJY0k');
}

.divider {
    flex: 1;
}