/* Ini CSS */

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    padding: 12px;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    height: 50px;
    width: 50px;
    /* border: 1px solid; */
    /* flex: 1; */
    /* text-align: -webkit-center; */

    /* for image icon */
    background-image: url("../assets/thg_logo.png");
    border-radius: 50%;
    background-size: cover;
}

nav>a{
    padding-left: 32px;
    padding-right: 32px;
    border: 1px solid;
    text-decoration: none;
    text-decoration-style: none;
    color: white;
    background-color: black;
}

nav>a:hover{
    background-color: gray;
}

.banner-container {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

.banner-container h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}

.banner-container p {
    text-align: center;
    text-transform: capitalize;
    margin-top: -1rem;
}

.profile-content {
    display: flex;
    justify-content: space-evenly;
}

.profile-item {
    flex: 1;
    text-align: -webkit-center;
}

.profile-icon {
    height: 50px;
    width: 50px;
    border: 0.05px solid black;

    /* for image icon */
    border-radius: 50%;
    background-size: cover;
}

.profile-1 {
    background-image: url('../assets/Merdeka_Square_Monas_02.jpg');
}

.profile-2 {
    background-image: url('../assets/Tugukujang.jpg');
}

.profile-3 {
    background-image: url('../assets/Gedung-Sate-Trees.jpg');
}

.profile-4 {
    background-image: url('../assets/Patung_Sura_dan_Baya.jpg');
}

.service-1 {
    background-image: url('../assets/it-consultant.jpg');
}

.service-2 {
    background-image: url('../assets/software.jpg');

}

.service-3 {
    background-image: url('../assets/server-datacenter.jpg');
}

.service-4 {
    background-image: url('../assets/ai.jpg');

}

.divider {
    flex: 1;
}

#our-profile {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

#our-profile header {
    margin-left: 3rem;
}

#our-headquarter {
    height: 350px;
    width: 100%;
    border: 1px solid;
}

#our-headquarter header {
    margin-left: 3rem;
}

